 <link rel="stylesheet" href="/stylesheets/style_cocktails.css">

<h1>Cocktails</h1>

 <h1>Search cocktail by name:</h1>
    
    <p id="noDataChecker"></p>

    <input id="getCocktailInput" type="text"></input>
    <button id="getCocktail">Get the cocktail</button>


 <h1>Search cocktail by ingredient:</h1>
    
    <p id="noDataChecker"></p>

    <input id="getCocktailInput" type="text"></input>
    <button id="getCocktail">Get the cocktail</button>


<h2>Results:</h2>
<ul id="result">

</ul>

</div>
   