<form action="/signup" method="POST" >
<div>
    <label class ="form-label" for="username">Email: </label>
  <input class ="form-imput" type="email" id="username" name="username">
</div>

  <div>

    <label class ="form-label" for="password">Password: </label>
  <input class ="form-imput" type="password" id="password" name="password">
  </div>
  <div>
    <button type="submit">CREATE USER</button>
  </div>
  
  
  

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}

</form> 

