<div class="container-home">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div id="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="/cocktails/allcocktails"><img id="img-size" class="d-block w-100" src="/images/total_black.jpg"
              alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <p>Explore all of our cocktails</p>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <a href="/cocktails"><img id="img-size" class="d-block w-100" src="/images/total_black.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <p>We already filter by alcoholic for you</p>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <a href="myaccount/mycocktails"><img id="img-size" class="d-block w-100" src="/images/total_black.jpg"
          alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <p>Create your most personal cocktails</p>
      </a>
    </div>
  </div>
</div>
</div>
<div>
  <div id="captions-loading">
    <div class="loader">Loading...</div>
  </div>

  <div id="captions" style="visibility: hidden">


    <div class="card-group">
      <div class="card bg-dark border-light">
        <img id="caption-img-1" class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a id="caption-h5-1" href=""></a></h5>
        </div>
      </div>
      <div class="card bg-dark border-light">
        <img id="caption-img-2" class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a id="caption-h5-2" href=""></a></h5>
        </div>
      </div>
      <div class="card bg-dark border-light">
        <img id="caption-img-3" class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a id="caption-h5-3" href=""></a></h5>
        </div>
      </div>
      <div class="card bg-dark border-light">
        <img id="caption-img-4" class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a id="caption-h5-4" href=""></a></h5>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<div>
  <p id="noNameChecker"></p>
  <h2>Search your favourite cocktails</h2>
  <br>
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input id="getCocktailByNameInput" class="search_input" type="text" name="" placeholder="Search...">
        <a href="#" class="search_icon"><i id="getCocktailByName" class="fas fa-search"></i></a>
      </div>
    </div>
  </div>
  <div id="captions">
    <div class="card-group" id="resultByName">
    </div>
  </div>
</div>