<div class="container-home">
  <div id="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img id="img-size" class="d-block w-100" src="/images/total_black.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <p>Explore all of our cocktails</p>
          </div>
        </div>
        <div class="carousel-item">
          <img id="img-size" class="d-block w-100" src="/images/total_black.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
            <p>We already filter by alcoholic for you</p>
          </div>
        </div>
        <div class="carousel-item">
          <img id="img-size" class="d-block w-100" src="/images/total_black.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
            <p>Create your most personal cocktails</p>
          </div>
        </div>
      </div>
    </div>
  <div>  
  
  <div id="captions">
    <div class="card-deck">
      <div class="card bg-dark border-light">
        <img id="caption-img-1" class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a id="caption-h5-1" href=""></a></h5>
        </div>
      </div>
      <div class="card bg-dark border-light">
        <img id="caption-img-2" class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a id="caption-h5-2" href=""></a></h5>
        </div>
      </div>
      <div class="card bg-dark border-light">
        <img id="caption-img-3" class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a id="caption-h5-3" href=""></a></h5>
        </div>
      </div>
          <div class="card bg-dark border-light">
        <img id="caption-img-4" class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a id="caption-h5-4" href=""></a></h5>
        </div>
      </div>
     
            </div>
      </div>
      
    </div>
  </div>
</div>





 
{{!-- SEARCH COCKTAIL BY NAME: --}}
 
 <h1>Search cocktail by name:</h1>
    
    <p id="noNameChecker"></p>

    <input id="getCocktailByNameInput" type="text"></input>
    <button id="getCocktailByName">Get the cocktail</button>


<div id="captions">

    <div class="card-deck" id="resultByName">
      
    </div>
</div>







