<div class="container-home">
  <div id="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img id="img-size" class="d-block w-100" src="/images/total_black.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <p>Explore all of our cocktails</p>
          </div>
        </div>
        <div class="carousel-item">
          <img id="img-size" class="d-block w-100" src="/images/total_black.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
            <p>We already filter by alcoholic for you</p>
          </div>
        </div>
        <div class="carousel-item">
          <img id="img-size" class="d-block w-100" src="/images/total_black.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
            <p>Create your most personal cocktails</p>
          </div>
        </div>
      </div>
    </div>
  <div>  
  
  <div id="captions">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/images/intro.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/images/intro.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/images/intro.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      
    </div>
  </div>
</div>



  {{!-- <h1>Search cocktail by name:</h1>
    
    <p id="noNameChecker"></p>

    <input id="getCocktailByNameInput" type="text"></input>
    <button id="getCocktailByName">Get the cocktail</button>

    <h2>Results:</h2>
    <ul id="resultByName">

    </ul>

    </div> --}}
 








{{!-- SEARCH COCKTAIL BY INGREDIENT --}}

 {{!-- <h1>Search cocktail by ingredient:</h1>
    
    <p id="noIngredientChecker"></p>

    <input id="getCocktailByIngredientInput" type="text"></input>
    <button id="getCocktailByIngredient">Get the cocktail</button>

    <h2>Results:</h2>
    <ul id="resultByIngredient">

    </ul>

    </div> --}}