 <link rel="stylesheet" href="/stylesheets/style_home.css">

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/images/intro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/intro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/intro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  
</div>




 <h1>Search cocktail by name:</h1>
    
    <p id="noNameChecker"></p>

    <input id="getCocktailByNameInput" type="text"></input>
    <button id="getCocktailByName">Get the cocktail</button>

    <h2>Results:</h2>
    <ul id="resultByName">

    </ul>

    </div>

{{!-- SEARCH COCKTAIL BY INGREDIENT --}}

 <h1>Search cocktail by ingredient:</h1>
    
    <p id="noIngredientChecker"></p>

    <input id="getCocktailByIngredientInput" type="text"></input>
    <button id="getCocktailByIngredient">Get the cocktail</button>

    <h2>Results:</h2>
    <ul id="resultByIngredient">

    </ul>

    </div>