



<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/images/intro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/intro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/intro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
   <div class="card">
     <a href="https://www.google.es"> <img class="card-img-top" src="/images/intro.jpg"  alt="Card image cap"></a>
   
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>



 <h1>Cocktail info</h1>

    <p id="noDataChecker"></p>
    <!--  use input's id to grab the value from the input field -->
    <input id="getCocktailInput" type="text" />
    <button id="getCocktail">Get the cocktail</button>




<h2>All the cocktails:</h2>
<dl id="all-cocktails">

</dl>

</div>
   