<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property='og:title' content='All City Cocktails' />
  <meta property='og:image'
    content='https://raw.githubusercontent.com/SaraPalacioss/project-all-city-cocktails/main/public/images/Screenshoot.png' />
  <meta property='og:description'
    content='This is my first Web App. It has been created for the Ironhack Madrid Web Development bootcamp in just 1 week.' />
  <meta property='og:url' content='https://all-city-cocktails.herokuapp.com/' />
  <title>{{title}}</title>
  <link rel="apple-touch-icon" sizes="57x57" href="../public/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../public/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../public/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../public/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../public/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../public/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../public/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../public/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../public/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../public/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../public/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicon-16x16.png">
  <link rel="manifest" href="../public/images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../public/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>

<body>
  <div class="container-layout">
    <div>
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <p>AllCityCocktails</p>
          </a>
          {{!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a> --}}
        </div>

        {{#if user}}

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
            <a class="navbar-item" href="/cocktails">
              Coktails
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                My account
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="/myaccount/mycocktails">
                  My cocktails
                </a>
                <a class="navbar-item" href="/myaccount/myprofile">
                  My profile
                </a>
              </div>
            </div>
          </div>
          <div class="navbar-end navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <p>Hello, {{user.name}}</p>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/logout">
                Log out
              </a>
            </div>

            {{else}}

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary" href="/signup">
                    <strong>Sign up</strong>
                  </a>
                  <a class="button is-light" href="/login">
                    Log in
                  </a>
                </div>
              </div>
            </div>

            {{/if}}

          </div>
      </nav>
    </div>

    {{{body}}}

    <div>
      <footer class="page-footer font-small special-color-dark pt-4">


        <div class="footer-copyright text-center py-3">© 2020 Created by
          <a href="http://www.https://www.linkedin.com/in/sara-palaciosdepedro">Sara Palacios</a> || Powered by
          <a href="http://www.https://www.thecocktaildb.com/">TheCocktailDB</a>
        </div>
      </footer>
    </div>
  </div>



  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/popper.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="/javascripts/script.js"></script>
</body>

</html>