 <link rel="stylesheet" href="/stylesheets/style_minimal.css" />
<div class="separator">

<div class="parental_square">
  <div>
    <p>It's part of our commitment to responsible drinking.</p> 
    <p>Please enter your birth date</p>

  <form id="form">
		<input id="age" type="number" min="18" max="100" placeholder="Age"></input>
		<button id="btn-parental">Enviar</button>
	</form>
</div>
</div>



  
               

