  <link rel="stylesheet" href="/stylesheets/style_minimal.css">

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
</nav>



<div class="separator">

<div class="parental_square">
  <div>
    <p>It's part of our commitment to responsible drinking.</p> 
    <p>Please enter your age</p>
</div>
<p id="parental-advise"></p>
  <form id="parental" action="/home">
		<input id="age" type="number" min="0" max="100" placeholder="Age"></input>
		<button id="btn-parental">Confirm</button>
	</form>
</div>
</div>



  
               

