
<p>my cocktails</p>

<h2>List of my cocktails</h2>

{{#each cocktail}}
   <ul>
       <li>
 
         
            <a href="/myaccount/mycocktails/details/{{id}}">{{strDrink}}</a>

            
          
            
        </li>
   </ul>

{{/each}}

<div>
    <a class="btn btn-primary" href="/myaccount/new-cocktail" role="button">Add new cocktail</a>
</div>


