<p>My favourites</p>




<h2>List of my fav cocktails</h2>

{{#each cocktail}}
   <ul>
       <li>
 
         
            <a href="/myaccount/mycocktails/details/{{id}}">{{strDrink}}</a>

            
          
            
        </li>
   </ul>

{{/each}}

  <form action="/myaccount/mycocktails/details/{{id}}/delete" method="POST">
                <button >Delete from favs</button>
            </form> 