<div class="background-form  myprofile">
  <div id="background-logo"><img id="logo" src="/images/Logo.png" alt="logo"></div>

  {{#if user}}
  
<div>

  <p>Name: {{user.name}}</p>
  <p>Lastname: {{user.lastName}}</p>
  <p>Email: {{user.username}}</p>

  {{/if}}

</div>

</div>