<div class="background-form background-details-info">
  <div id="background-logo"><img id="logo" src="/images/Logo.png" alt="logo"></div>

  {{#if user}}

  <p>Name: {{user.name}}</p>
  <p>Lastname: {{user.lastName}}</p>
  <p>Email: {{user.username}}</p>

  {{/if}}

  <button type="button" class="create-btn"><a href="/login/edit">Edit profile</a></button>
</div>