<form action="/myaccount/mycocktails" method="POST">
   
  
  <label for="strDrink">Name: </label>
  <input type="text" name="strDrink" id="strDrink">

  <br>

  <label for="strCategory">Category: </label>
  <select name="strCategory" id="strCategory">


  
<option value="0" selected>Seleccione... 
<option value="1">Cocktail
<option value="2">Shot 
<option value="3">Ordinary Drink 
 
</select>



  <br>

  <label for="strAlcoholic">Alcoholic: </label>
  <select name="strAlcoholic" id="strAlcoholic">
<option value="0" selected>Seleccione... 
<option value="1">Alcoholic
<option value="2">Non alcoholic 

 
</select>
  <br>

  <label for="strGlass">Glass: </label>
  <select name="strGlass" id="strGlass">
<option value="0" selected>Seleccione... 
<option value="1">Beer mug
<option value="2">Cocktails glass 
<option value="3">Coffee mug
<option value="4">Collins Glass 
  <option value="5">Highball Glass
<option value="6">Shot glass 

</select>
  <br>

  <label for="strInstructions">Instructions: </label>
  <textarea name="strInstructions" id="strInstructions" rows="10" cols="40" placeholder="Instructions here"></textarea>


  <br>

 
  <label for="strIngredient1">Ingredient 1: </label>
  <input type="text" name="strIngredient1" id="strIngredient1">

  <br>

  <label for="strIngredient2">Ingredient 2: </label>
  <input type="text" name="strIngredient2" id="strIngredient2">

  <br>

  <label for="strIngredient3">Ingredient 3: </label>
  <input type="text" name="strIngredient3" id="strIngredient3">

  <br>

  <label for="strIngredient4">Ingredient 4: </label>
  <input type="text" name="strIngredient4" id="strIngredient4">

  <br>

  <label for="strIngredient5">Ingredient 5: </label>
  <input type="text" name="strIngredient5" id="strIngredient5">

  <br>

  <label for="strIngredient6">Ingredient 6: </label>
  <input type="text" name="strIngredient6" id="strIngredient6">

  <br>

  <label for="strIngredient7">Ingredient 7: </label>
  <input type="text" name="strIngredient7" id="strIngredient7">

  <br>

  <label for="strIngredient8">strIngredient8: </label>
  <input type="text" name="strIngredient8" id="strIngredient8">

  <br>

  <label for="strIngredient9">Ingredient 9: </label>
  <input type="text" name="strIngredient9" id="strIngredient9">

  <br>  

  <label for="strIngredient10">Ingredient 10: </label>
  <input type="text" name="strIngredient10" id="strIngredient10">

  <br>

  <label for="strIngredient11">Ingredient 11: </label>
  <input type="text" name="strIngredient11" id="strIngredient11">

  <br>

  <label for="strIngredient12">Ingredient 12: </label>
  <input type="text" name="strIngredient12" id="strIngredient12">

  <br>

  <label for="strIngredient13">Ingredient 13: </label>
  <input type="text" name="strIngredient13" id="strIngredient13">

  <br>

  <label for="strIngredient14">Ingredient 14: </label>
  <input type="text" name="strIngredient14" id="strIngredient14">

  <br>

  <label for="strIngredient15">Ingredient 15: </label>
  <input type="text" name="strIngredient15" id="strIngredient15">

  <br>

    <label for="strMeasure1">Meassure 1: </label>
  <input type="text" name="strMeasure1" id="strMeasure1">

  <br>

  <label for="strMeasure2">Meassure 2: </label>
  <input type="text" name="strMeasure2" id="strMeasure2">

  <br>

  <label for="strMeasure3">Meassure 3: </label>
  <input type="text" name="strMeasure3" id="strMeasure3">

  <br>

  <label for="strMeasure4">Meassure 4: </label>
  <input type="text" name="strMeasure4" id="strMeasure4">

  <br>

  <label for="strMeasure5">Meassure 5: </label>
  <input type="text" name="strMeasure5" id="strMeasure5">

  <br>

  <label for="strMeasure6">Meassure 6: </label>
  <input type="text" name="strMeasure6" id="strMeasure6">

  <br>

  <label for="strMeasure7">Meassure 7: </label>
  <input type="text" name="strMeasure7" id="strMeasure7">

  <br>

  <label for="strMeasure8">Meassure 8: </label>
  <input type="text" name="strMeasure8" id="strMeasure8">

  <br>

  <label for="strMeasure9">Meassure 9: </label>
  <input type="text" name="strMeasure9" id="strMeasure9">

  <br>  

  <label for="strMeasure10">Meassure 10: </label>
  <input type="text" name="strMeasure10" id="strMeasure10">

  <br>

  <label for="strMeasure11">Meassure 11: </label>
  <input type="text" name="strMeasure11" id="strMeasure11">

  <br>

  <label for="strMeasure12">Meassure 12: </label>
  <input type="text" name="strMeasure12" id="strMeasure12">

  <br>

  <label for="strMeasure13">Meassure 13: </label>
  <input type="text" name="strMeasure13" id="strMeasure13">

  <br>

  <label for="strMeasure14">Meassure 14: </label>
  <input type="text" name="strMeasure14" id="strMeasure14">

  <br>

  <label for="strMeasure15">Meassure 15: </label>
  <input type="text" name="strMeasure15" id="strMeasure15">

  <br>

  
  <button class="button is-primary" style="margin: 10px;">Add new cocktail</button>

</form>


