<div class="background-details background-details-info mycocktails-form">
  <div>
    <h2 id="cocktail-name">Edit cocktail:</h2>
  </div>
  <div>
    <form action="/myaccount/mycocktails" method="POST">
      <br>
      <div class="basic-info">
        <div>
          <label for="strDrink">Name: </label>
          <input type="text" name="strDrink" id="strDrink">
        </div>
        <div>
          <label for="strCategory">Category: </label>
          <select name="strCategory" id="strCategory">
            <option value="0" selected>Seleccione...
            <option value="1">Cocktail
            <option value="2">Shot
            <option value="3">Ordinary Drink
          </select>
        </div>
        <div>
          <label for="strAlcoholic">Alcoholic: </label>
          <select name="strAlcoholic" id="strAlcoholic">
            <option value="0" selected>Seleccione...
            <option value="1">Alcoholic
            <option value="2">Non alcoholic
          </select>
        </div>
        <div>
          <label for="strGlass">Glass: </label>
          <select name="strGlass" id="strGlass">
            <option value="0" selected>Seleccione...
            <option value="1">Beer mug
            <option value="2">Cocktails glass
            <option value="3">Coffee mug
            <option value="4">Collins Glass
            <option value="5">Highball Glass
            <option value="6">Shot glass
          </select>
        </div>
      </div>
      <br>
      <div class="ingredients">
        <div>
          <label>Ingredients:</label>
        </div>
        <div>
          <div class="ingredients-info">
            <div>
              <div>
                <input type="text" name="strMeasure1" id="strMeasure1" placeholder="meassure">
                <input type="text" name="strIngredient1" id="strIngredient1" placeholder="ingredient">
              </div>
              <div>
                <input type="text" name="strMeasure2" id="strMeasure2" placeholder="meassure">
                <input type="text" name="strIngredient2" id="strIngredient2" placeholder="ingredient">
              </div>
              <div>
                <input type="text" name="strMeasure3" id="strMeasure3" placeholder="meassure">
                <input type="text" name="strIngredient3" id="strIngredient3" placeholder="ingredient">
              </div>
              <div>
                <input type="text" name="strMeasure4" id="strMeasure4" placeholder="meassure">
                <input type="text" name="strIngredient4" id="strIngredient4" placeholder="ingredient">
              </div>
              <div>
                <input type="text" name="strMeasure5" id="strMeasure5" placeholder="meassure">
                <input type="text" name="strIngredient5" id="strIngredient5" placeholder="ingredient">
              </div>
              <div>
                <input type="text" name="strMeasure6" id="strMeasure6" placeholder="meassure">
                <input type="text" name="strIngredient6" id="strIngredient6" placeholder="ingredient">
              </div>
              <div>
                <input type="text" name="strMeasure7" id="strMeasure7" placeholder="meassure">
                <input type="text" name="strIngredient7" id="strIngredient7" placeholder="ingredient">
              </div>
            </div>
            <div>
              <div>
                <input type="text" name="strMeasure8" id="strMeasure8" placeholder="meassure">
                <input type="text" name="strIngredient8" id="strIngredient8" placeholder="ingredient">
              </div>
              <div>
                <div>
                  <input type="text" name="strMeasure9" id="strMeasure9" placeholder="meassure">
                  <input type="text" name="strIngredient9" id="strIngredient9" placeholder="ingredient">
                </div>
                <div>
                  <input type="text" name="strMeasure10" id="strMeasure10" placeholder="meassure">
                  <input type="text" name="strIngredient10" id="strIngredient10" placeholder="ingredient">
                </div>
                <div>
                  <input type="text" name="strMeasure11" id="strMeasure11" placeholder="meassure">
                  <input type="text" name="strIngredient11" id="strIngredient11" placeholder="ingredient">
                </div>
                <div>
                  <input type="text" name="strMeasure12" id="strMeasure12" placeholder="meassure">
                  <input type="text" name="strIngredient12" id="strIngredient12" placeholder="ingredient">
                </div>
                <div>
                  <input type="text" name="strMeasure13" id="strMeasure13" placeholder="meassure">
                  <input type="text" name="strIngredient13" id="strIngredient13" placeholder="ingredient">
                </div>
                <div>
                  <input type="text" name="strMeasure14" id="strMeasure14" placeholder="meassure">
                  <input type="text" name="strIngredient14" id="strIngredient14" placeholder="ingredient">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="instructions">
        <div>
          <label>Instructions: </label>
        </div>
        <div>
          <textarea name="strInstructions" id="strInstructions" rows="3" cols="101"
            placeholder="Instructions here"></textarea>
        </div>
      </div>
      <div class="edit-delete-btns">
        <button class="create-btn" >Add new cocktail</button>
      </div>
      <div class="edit-delete-btns">
        <button type="button" class="create-btn"><a
            href="/myaccount/mycocktails">Cancel</a></button>
      </div>
    </form>

  </div>
</div>