 <link rel="stylesheet" href="/stylesheets/style_cocktails.css">

<h1>Cocktails</h1>
 
{{!-- SEARCH COCKTAIL BY NAME: --}}
 
 <h1>Search cocktail by name:</h1>
    
    <p id="noNameChecker"></p>

    <input id="getCocktailByNameInput" type="text"></input>
    <button id="getCocktailByName">Get the cocktail</button>

    <h2>Results:</h2>
    <ul id="resultByNameUl">
       <img id="resultByNameA" src=""></img>
    </ul>

    </div>



     


   <p>ALCOHOL COCKTAILS</p>
   <a href="/cocktails/alcohol">See all</a>



      <p>NO ALCOHOL COCKTAILS</p>
   <a href="/cocktails/no-alcohol">See all</a>