
<div class="card-deck alcohol-nonalcohol-view">
  <div class="card  border-light">
    <a href="/cocktails/alcohol"><img class="card-img-top" src="/images/alcohol.png" alt="alcohol-logo"></a> 
    <div class="card-body">
      <h5 class="card-title">ALCOHOL COCKTAILS</h5>
      <p class="card-text">Get all of our alcoholic cocktails</p>
    </div>
  </div>
  <br>
 <div class="card  border-light">
   <a href="/cocktails/no-alcohol"><img class="card-img-top" src="/images/no-alcohol.png" alt="alcohol-logo"></a> 
    <div class="card-body">
      <h5 class="card-title">NON-ALCOHOL COCKTAILS</h5>
      <p class="card-text">Non-alcohol cocktaisl are fun too!!</p>
    </div>
  </div>
  </div>
 
