<div class="background-details">
  <div class="background-details-photo">
     <div id="cocktail-img"></div>
  </div>
  <div class="background-details-info">
    <h1 id="cocktail-name"></h1>
<br>
    <p>Id: <span id="cocktail-id"></span></p>

    <p>Category: <span id="cocktail-category"></span></p>

    <p>Alcoholic: <span id="cocktail-alcohol"></span></p>

<br>
    <h2>Ingredients: </h2>
    <ul id="resultIngredients">

    </ul>

<br>
    <h2>Instructions: </h2>
    <span id="cocktail-instructions"></span>

  </div>


  

</div>



