<p id="cocktail-name"></p>
<p id="cocktail-id"></p>
<p id="cocktail-categoy"></p>
<p id="cocktail-alcohol"></p>
<img id="cocktail-alcohol" src="">
<h2>Ingredients</h2>
<h2>Instructions</h2>
<p id="cocktail-instructions"></p>


 