{{!-- 
    

    
  <h2>Results:</h2>

    <h2>Results:</h2>
    <ul id="resultByNoAlcohol">

    </ul>

     --}}


    {{!-- <div class="card-group" id="resultByNoAlcohol" id="render-list-cocktails"> --}}
  
   

  
<div class="card-group" id="resultByNoAlcohol">
  
</div>