<div id="captions-cocktails-loading">
  <div class="loader">Loading...</div>
</div>

<div id="captions-cocktails" style="visibility: hidden">

  <div class="card-group" id="resultByNoAlcohol">

  </div>