

<form action="/login/edit" method="POST">

   <label for="name">Name: </label>
  <input type="text" id="name" name="name" value="name">
<br>
   <label for="lastName">Lastname: </label>
  <input type="text" id="lastName" name="lastName" value="lastName">
<br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="password" value="">
<br>
  <button type="submit">Save changes</button>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
  
</form>