

<div class= "background-form">


  <div id="background-logo"><img id="logo" src="/images/Logo.png" alt="logo"></div>
  <form action="/login" method="POST">
    <div>
      <label for="username">Email: </label>
      <br><input type="username" id="username" name="username">
    </div>
    <div>
      <label for="password">Password: </label>
      <br><input type="password" id="password" name="password">
    </div>
    <div id="btn">
      <button class="btn-auth" type="submit">Log in</button>
    </div>

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}

  </form>
</div>