<form action="/signup" method="POST" >

<div>
    <label class ="form-label" for="name">Name: </label>
  <input class ="form-imput" type="text" id="name" name="name">
</div>

<div>
    <label class ="form-label" for="lastName">Lastname: </label>
  <input class ="form-imput" type="text" id="lastName" name="lastName">
</div>



<div>
    <label class ="form-label" for="username">username: </label>
  <input class ="form-imput" type="username" id="username" name="username">
</div>

  <div>

    <label class ="form-label" for="password">Password: </label>
  <input class ="form-imput" type="password" id="password" name="password">
  </div>
  <div>
    <button type="submit">CREATE USER</button>
  </div>
  
  
    

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}

</form> 

